

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#logo {
  background:url(images/teachyourselflogo.png) no-repeat top center;
  height:200px;
  text-indent:-9999px;
}

#start {
 display: block;
 /*height: 50px;
 width: 70px;*/
 color: green;
 text-align: center;
 font: 2.2em "Geneva", sans-serif;
 margin-bottom: 30px
}
 
#reset {
  display: block;
  /*height: 50px;
  width: 70px;*/
  color: red;
  text-align: center;
  font: 2.2em "Geneva", sans-serif;
}

.switch {
  display: block;
  /*text-transform: initial;*/
  margin-top: 50px;
}

ul { 
  list-style-type: none; 
  float: left; 
  text-indent:-4px; 
  margin-right:16px; 
}

body {
  margin: 40px;
}

table {
  width: 600px;
  height: 600px;
}

td {
  width: 100px;
  height: 100px;
  outline: 2px solid;
  float: left;
}

#grid {
  float: center;
}

.backQorA {
  float:left;
  margin: 10px;
  background: blue;
  width: 100px
  height: 100px;
  cursor: pointer;
}

.frontImage {
  float:left;
  margin: 10px;
  background-image: url(images/botticelli-Question.jpg);
  width: 100px
  height: 100px;
  cursor: pointer;
}



